/*#F4F4F2*/
/*#E8E8E8*/
/*#BBBFCA*/
/*#495464*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
  background-repeat: no-repeat;
  background-color: #495464;
  height: 100%;
  width: 100%;
  font-family: Century Gothic, Arial, sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-block {
  background-color: rgba(244, 244, 242, 0.3);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-title {
  background-color: #495464;
  border-radius: .5rem;
  margin: 3rem 15rem;

}

.quiz-title__text {
  color: #BBBFCA;
  font-weight: normal;
  padding: .5rem 2.5rem;
}

.cards-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto;
  margin: 0 8rem 8rem;
}

.card-container {
  perspective: 1500px ;
}

.card {
  display: flex;
  position: relative;
  width: 15rem;
  height: 15rem;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card__front,
.card__back {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  text-align : center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card__front {
  background-color: #495464 ;
  color: #BBBFCA;
  z-index: 2;
  backface-visibility: hidden;
}

.card__back {
  background-color: #BBBFCA;
  color: #495464;
  position: absolute;
  z-index: 1;
  transform: rotateY(180deg);
}
.card p {
  font-size: 1.5rem;
  padding: 1rem;
}

